<header>
<a asp-action="Index">
<img src= "/img/626631.png" alt="Logo" class="styled-image" >
</a>
<h6> Intereses de @ViewBag.integrante.DatosPersonales.Nombre @ViewBag.integrante.DatosPersonales.Apellido</h6>
</header>
<body>


<main>
<h4>Hobbies: @ViewBag.integrante.DatosIntereses.Hobbies</h4>
<h4>Serie favorita: @ViewBag.integrante.DatosIntereses.SeriesFavoritas</h4>
<h4>Amigos: @ViewBag.integrante.DatosIntereses.Amigos</h4>
<h4>Materia favorita: @ViewBag.integrante.DatosIntereses.GustosEscolares</h4>





</main>
</body>